body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.header {
}
.header-nav {
  color: #4d5ae5;
}
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-text {
  color: #2e2f42;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

.header-nav-link {
  font-style: normal;
}

.header-nav-list-item-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus {
  color: #404bbf;
}
